<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.cmf.project.mapper.DictTypeMapper">

    
    <resultMap type="DictType" id="DictTypeResult">
        <result property="dictId"    column="dict_id"    />
        <result property="dictName"    column="dict_name"    />
        <result property="dictType"    column="dict_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectDictTypeVo">
        select dict_id, dict_name, dict_type, status, create_by, create_time, update_by, update_time, remark from sys_dict_type
    </sql>
	
    <select id="selectDictTypeList" parameterType="DictType" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        <where>
            <if test="dictName != null and dictName != ''">
                AND dict_name like concat('%', #{dictName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="dictType != null and dictType != ''">
                AND dict_type like concat('%', #{dictType}, '%')
            </if>
            <if test="params != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectDictTypeById" parameterType="Integer" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        where dict_id = #{dictId}
    </select>

    <select id="checkDictTypeUnique" parameterType="String" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        where dict_type = #{dictType}
    </select>

    <select id="checkDictNameUnique" parameterType="String" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo" />
        where dict_name = #{dictName}
    </select>

    <insert id="insertDictType" parameterType="DictType">
        insert into sys_dict_type
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="dictName != null and dictName != '' ">dict_name,</if>
			<if test="dictType != null and dictType != '' ">dict_type,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="remark != null and remark != '' ">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="dictName != null and dictName != ''">#{dictName},</if>
			<if test="dictType != null and dictType != ''">#{dictType},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateDictType" parameterType="DictType">
        update sys_dict_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictName != null  and dictName != ''  ">dict_name = #{dictName},</if>
            <if test="dictType != null  and dictType != ''  ">dict_type = #{dictType},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where dict_id = #{dictId}
    </update>


    <delete id="deleteDictTypeById" parameterType="Integer">
        delete from sys_dict_type where dict_id = #{dictId}
    </delete>
	
    <delete id="deleteDictTypeByIds" parameterType="String">
        delete from sys_dict_type where dict_id in 
        <foreach item="dictId" collection="array" open="(" separator="," close=")">
            #{dictId}
        </foreach>
    </delete>
    
</mapper>