<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjnu.cmf.project.mapper.UserMapper">

    
    <resultMap type="User" id="UserResult">
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="loginName"    column="login_name"    />
        <result property="userName"    column="user_name"    />
        <result property="userType"    column="user_type"    />
        <result property="email"    column="email"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectUserVo">
        select user_id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, del_flag, login_ip, login_date, create_by, create_time, update_by, update_time, remark from sys_user
    </sql>
	
    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="userId != null and userId != ''"> and user_id = #{userId}</if>
             <if test="deptId != null and deptId != ''"> and dept_id = #{deptId}</if>
             <if test="loginName != null and loginName != ''"> and login_name = #{loginName}</if>
             <if test="userName != null and userName != ''"> and user_name = #{userName}</if>
             <if test="userType != null and userType != ''"> and user_type = #{userType}</if>
             <if test="email != null and email != ''"> and email = #{email}</if>
             <if test="phonenumber != null and phonenumber != ''"> and phonenumber = #{phonenumber}</if>
             <if test="sex != null and sex != ''"> and sex = #{sex}</if>
             <if test="avatar != null and avatar != ''"> and avatar = #{avatar}</if>
             <if test="password != null and password != ''"> and password = #{password}</if>
             <if test="salt != null and salt != ''"> and salt = #{salt}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
             <if test="loginIp != null and loginIp != ''"> and login_ip = #{loginIp}</if>
             <if test="loginDate != null and loginDate != ''"> and login_date = #{loginDate}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectUserById" parameterType="Integer" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertUser" parameterType="User">
        insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != '' ">user_id,</if>
			<if test="deptId != null and deptId != '' ">dept_id,</if>
			<if test="loginName != null and loginName != '' ">login_name,</if>
			<if test="userName != null and userName != '' ">user_name,</if>
			<if test="userType != null and userType != '' ">user_type,</if>
			<if test="email != null and email != '' ">email,</if>
			<if test="phonenumber != null and phonenumber != '' ">phonenumber,</if>
			<if test="sex != null and sex != '' ">sex,</if>
			<if test="avatar != null and avatar != '' ">avatar,</if>
			<if test="password != null and password != '' ">password,</if>
			<if test="salt != null and salt != '' ">salt,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			<if test="loginIp != null and loginIp != '' ">login_ip,</if>
			<if test="loginDate != null and loginDate != '' ">login_date,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
			<if test="remark != null and remark != '' ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="deptId != null and deptId != ''">#{deptId},</if>
			<if test="loginName != null and loginName != ''">#{loginName},</if>
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="userType != null and userType != ''">#{userType},</if>
			<if test="email != null and email != ''">#{email},</if>
			<if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
			<if test="sex != null and sex != ''">#{sex},</if>
			<if test="avatar != null and avatar != ''">#{avatar},</if>
			<if test="password != null and password != ''">#{password},</if>
			<if test="salt != null and salt != ''">#{salt},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			<if test="loginIp != null and loginIp != ''">#{loginIp},</if>
			<if test="loginDate != null and loginDate != ''">#{loginDate},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateUser" parameterType="User">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null  ">dept_id = #{deptId},</if>
            <if test="loginName != null  and loginName != ''  ">login_name = #{loginName},</if>
            <if test="userName != null  and userName != ''  ">user_name = #{userName},</if>
            <if test="userType != null  and userType != ''  ">user_type = #{userType},</if>
            <if test="email != null  and email != ''  ">email = #{email},</if>
            <if test="phonenumber != null  and phonenumber != ''  ">phonenumber = #{phonenumber},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="avatar != null  and avatar != ''  ">avatar = #{avatar},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="salt != null  and salt != ''  ">salt = #{salt},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''  ">login_ip = #{loginIp},</if>
            <if test="loginDate != null  ">login_date = #{loginDate},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

	<delete id="deleteUserById" parameterType="Integer">
        delete from sys_user where user_id = #{userId}
    </delete>
	
    <delete id="deleteUserByIds" parameterType="String">
        delete from sys_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>